/* Simple Product Listing Page - Task 11
   Created by: Anisha Karki
*/

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #fbfbfb;
  color: #333;
}

/* Header section */
header {
  text-align: center;
  background-color: #eb922c;
  color: white;
  padding: 25px 10px;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
}

.subtitle {
  margin-top: 6px;
  font-size: 0.95rem;
}

/* Product grid */
.product-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Each product card */
.product-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  text-align: center;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
}

/* Product image */
.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

/* Product name & price */
.product-card h3 {
  margin: 10px 0 4px;
  font-size: 1.05rem;
}

.price {
  color: #0f6cff;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Button */
.cart-btn {
  background-color: #0f6cff;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.25s, transform 0.25s;
}

.cart-btn:hover {
  background-color: #094ebd;
  transform: scale(1.03);
}

/* Footer */
footer {
  text-align: center;
  padding: 15px 0;
  background: #f8a20f;
  color: #0c0b0b;
  font-size: 20px;
  font-weight:50px;
}
