body {
  font-family: Arial, sans-serif;
  background-color: #f2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container, .dashboard {
  background: rgb(236, 194, 44);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 20px 30px 40px rgb(205, 135, 135);
  width: 300px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: #0078d7;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

.error {
  color: red;
  font-size: 14px;
}
